body{
  background-color:black;
  margin: 0 400px;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color:gold;
  border-radius: 20px;
  padding: 18px;
  margin: 80px;

}
.titles{
  color:red
}
.lyout{
  display:flex;
  justify-content: space-between;
}
.space{
     margin:0 120px 0 0;
}
.button{
  padding:5px 50px;
}